*{
    margin: 0;
    padding: 0;
}
.space-1{
    width:800px;
    height: 150px;
background-color: rgba(119, 112, 112, 0.347);
margin-left: 220px;

}
.space-p{
    color: white;
    font-weight: 500;
    font-size: 20px;

}